<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.admin.learningandroid">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity_of_Learning_Activity"
            android:label="Activity_of_Learning_Activity"/>
        <activity android:name=".Activity_of_Learning_Activity_Lifecycle_1"
            android:label="Activity_of_Learning_Activity_Lifecycle_1"/>
        <activity android:name=".Activity_of_Learning_Activity_Lifecycle_2" />
        <activity android:name=".Activity_of_Learning_Tasks"
            android:label="Activity_of_Learning_Tasks"/>
        <activity
            android:name=".Activity_of_Standard_Task"
            android:launchMode="standard"
            android:label="Activity_of_Standard_Task"/>
        <activity
            android:name=".Activity_of_Single_Top"
            android:launchMode="singleTop"
            android:label="Activity_of_Single_Top"/>
        <activity
            android:name=".Activity_of_Single_Task"
            android:launchMode="singleTask"
            android:label="Activity_of_Single_Task"/>
        <activity
            android:name=".Activity_of_Single_Instance"
            android:launchMode="singleInstance"
            android:label="Activity_of_Single_Instance"/>
        <activity android:name=".Activity_of_Layout_Activity"
            android:label="Activity_of_Layout_Activity"
            />
        <activity android:name=".Activity_of_Passing_Object"
            android:label="Activity_of_Passing_Object"/>
        <activity android:name=".Activity_of_Receiving_Object"
            android:label="Activity_of_Receiving_Object"/>
    </application>

</manifest>