<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.admin.learningandroid">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LearningActivity"
            android:label="Activity_of_Learning_Activity" />
        <activity
            android:name=".ActivityLifecycleOne"
            android:label="Activity_of_Learning_Activity_Lifecycle_1" />
        <activity android:name=".ActivityLifecycleTwo" />
        <activity
            android:name=".LearningTasksActivity"
            android:label="Activity_of_Learning_Tasks" />
        <activity
            android:name=".StandardTaskActivity"
            android:label="Activity_of_Standard_Task"
            android:launchMode="standard" />
        <activity
            android:name=".SingleTopActivity"
            android:label="Activity_of_Single_Top"
            android:launchMode="singleTop" />
        <activity
            android:name=".SingleTaskActivity"
            android:label="Activity_of_Single_Task"
            android:launchMode="singleTask"
            android:taskAffinity="com.example.affinity" />
        <activity
            android:name=".SingleInstanceActivity"
            android:label="Activity_of_Single_Instance"
            android:launchMode="singleInstance"
            android:taskAffinity="com.example.affinity" />
        <activity
            android:name=".PassingObjectActivity"
            android:label="Activity_of_Passing_Object" />
        <activity
            android:name=".ReceivingObjectActivity"
            android:label="Activity_of_Receiving_Object" />
        <activity android:name=".LearningLayouts" />
        <activity android:name=".RecyclerViewActivity" />
        <activity android:name=".RecyclerViewList" />
        <activity android:name=".LinearLayoutActivty" />
        <activity android:name=".RelativeLayoutActivity" />
        <activity android:name=".ConstriantLayoutActivity"></activity>
    </application>

</manifest>